<div class="page-customer-care">

  <div class="page_wrapper">
    <div class="page_content">
      {{page.content}}
    </div>
    <div class="page_faq">
      {%- section 'customer-faq' -%}
    </div>
  </div>
</div>