<!-- /snippets/collection-sorting.liquid -->

{% comment %}
    Renders a sorting dropdown for a collection

    Accepts:
    - collection: {Object} currenct collection

    Usage:
    {%- render 'collection-sorting' collection: collection -%}
{% endcomment %}

<div class="popout--sort">
  <h2 class="visually-hidden" id="sort-heading">
    {{ 'collections.general.sort' | t }}
  </h2>
  <div class="popout" data-popout-sort>
    <button type="button"
      class="popout__toggle"
      aria-expanded="false"
      aria-controls="sort-list"
      aria-describedby="sort-heading"
      data-popout-toggle>
      {% assign sort_translation = 'collections.general.sort' | t %}
      {% assign currently_selected = collection.sort_options | where: "value", collection.sort_by | first %}
      {{ currently_selected.name | default: sort_translation }}
      {%- render 'icon-select' -%}
    </button>
    <ul id="sort-list" class="popout-list" data-popout-list>
      {% for option in collection.sort_options %}
        {% assign active = false %}
        {%- if collection.sort_by.name contains option.name -%}
          {% assign active = true %}
        {%- endif -%}
        <li class="popout-list__item {% if active %}popout-list__item--current{% endif %}">
          <a class="popout-list__option"
            data-value="{{ option.value }}"
            href="#"
            {% if active  %}aria-current="true"{% endif %}
            data-sort-link>
            <span>{{ option.name }}</span>
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
